.edycja-ankiety-wraper{


  .ankieta-blok{
    min-height: 100px;
    border-bottom: 1px dashed #616161;
    position: relative;
    padding-left: 100px;

    &:hover{
      background: darken(white,15%);
    }
    &.active{
      background: lighten(#64B5F6, 22%);

      &:hover{
        background: lighten(#64B5F6, 15%);
      }
    }

    &>div{
      display:inline-block;

      &.ankieta-blok-numer{
        position: absolute;
        width: 100px;
        line-height: 80px;
        font-size: 1.2em;
        font-weight: 400;
        text-align: center;
        left: 0;
        top:10px;
        bottom: 10px;
        border-right: 1px dashed #616161;
      }
    }
  }
}
