<div class="menu-zalogowany">
  <img src="assets/images/no-avatar1.png" alt />
  Kacper Czechowicz
</div>
<div class="standard-menu">
  <ul>
    <li><core-icon icon="dashboard"></core-icon> Informacje ogólne</li>
    <li><core-icon icon="list"></core-icon> Lista ankiet</li>
    <li><core-icon icon="add-circle-outline"></core-icon> Nowa ankieta</li>
    <li><core-icon icon="account-circle"></core-icon> Panel użytkownika</li>
    <li ng-click="logOut()"><core-icon icon="backspace"></core-icon> Wyloguj</li>
  </ul>
</div>
