<div class="lista-menu-filtry">
  <paper-button class="btn-edit" ng-click="addNewQuestionaire()" >Nowa ankieta</paper-button>
  <paper-button class="btn-edit" ng-click="addNewQuestionaire()" >Filtruj listę</paper-button>

</div>
<div class="lista-wrapper">
  <div class="lista-ankieta" ng-repeat="ankieta in ankiety">
    <div class="lista-ankieta-head">
      {{ankieta.name}}
    </div>
    <div class="lista-ankieta-content">
      <div>
        Ilość badanych: <span class="lista-content-number">{{ankieta.wyniki}}</span>
      </div>
      <div>
        Ilość nowych badań: <span class="lista-content-number">{{ankieta.nowe}}</span>
      </div>
      <div class="akcje">
        <paper-button class="btn-edit">Edytuj</paper-button><paper-button class="btn-cancel">Ukryj</paper-button>
      </div>
    </div>

  </div>
</div>
