<div class="lista-wrapper">

  <div class="lista-ankieta" ng-repeat="ankieta in ankiety">
    <div class="lista-ankieta-head">
      {{ankieta.name}}
    </div>
    <div class="lista-ankieta-content">
      <div>
        Ilość badanych: <span class="lista-content-number">{{ankieta.wyniki}}</span>
      </div>
      <div>
        Ilość nowych badań: <span class="lista-content-number">{{ankieta.nowe}}</span>
      </div>
      <div class="akcje">
        <paper-button class="btn-edit">Edytuj</paper-button><paper-button class="btn-cancel">Ukryj</paper-button>
      </div>
    </div>

  </div>


  <paper-fab icon="add" ng-click="addNewQuestionaire()" class="add-floating-buton"></paper-fab>
</div>
