@import 'shared';

.drzewko-cover{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: url(/assets/images/login_tree.jpg);
  background-size: cover;
  background-position: center;
  $loginBoxWidth: 300px;
  $loginBoxHeight: 147px;

  .login-error-msg{
    position: fixed;
//    width: $loginBoxWidth;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid rgba(225, 30, 30, 0.90);
    border-radius: 10px;
    background: rgba(247, 33, 33, 0.9);
    color: white;
    top:50%;
    right: calc(50% - 30px);
    margin-right: $loginBoxWidth/2+15px;
    visibility: hidden;
    opacity: 0;
    @include css-animation(all, 0.3s, ease-in-out);

    &.login-error-msg-shown{
      right: 50%;
      opacity: 1;
      visibility: visible;
    }

    &.login-required-msg{
      margin-top: -20px;
    }

    &.login-credentials-msg{
      margin-top: -60px;
    }


    span.triangle{
      display:block;
      position:absolute;
      right:-11px;
      top:50%;
      margin-top:-8px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 8px 10px;
      border-color: transparent transparent transparent rgba(225, 30, 30, 0.9);
    }

    span.triangle:after{
      content:"";
      display:block;
      position:absolute;
      right:1px;
      top:50%;
      margin-top:-8px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 8px 10px;
      border-color: transparent transparent transparent rgba(247, 33, 33, 0.8);
    }
  }

  &>paper-shadow{
    box-sizing: border-box;
    padding: 10px 15px;
    height:$loginBoxHeight;
    width:$loginBoxWidth;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -($loginBoxHeight/2);
    margin-left: -$loginBoxWidth/2;
    border-radius: 10px;
    background: rgba(255,255,255,0.9);

    .login-input-wraper{
      margin-bottom:13px;

      &>core-icon{
        position:relative;
        top:2px;
        color: rgb(81, 81, 81);
      }
    }

    paper-input-decorator{
      padding-top: 0;
      padding-bottom: 0;
      vertical-align: middle;
      display: inline-block !important;
      width: 237px;
    }

    $placeholder-color: #a3a3a3;
    paper-input-decorator /deep/ ::-webkit-input-placeholder {
       color: $placeholder-color;
     }
    paper-input-decorator /deep/ ::-moz-placeholder {
      color: $placeholder-color;
    }
    paper-input-decorator /deep/ :-ms-input-placeholder {
      color: $placeholder-color;
    }
    paper-input-decorator /deep/ .focused-underline {
      background-color: $light-blue;
    }
    paper-input-decorator[focused] /deep/ .floated-label .label-text{
      color: $light-blue;
    }

    paper-input-decorator.error /deep/ .unfocused-underline, paper-input-decorator.error /deep/ .focused-underline {
      background-color: #ea1f1f;
    }

    paper-button{
      vertical-align: middle;
      margin-left: 0px;
      width: 80px;
      paper-spinner{
        height: 16px;
        width: 16px;

        &::shadow .circle {
          border-color: #ff493f;
        }
      }
    }

    a, a:link, a:visited{
      color: darken($light-blue,5%);
      font-size: 12px;
      text-decoration: none;
      opacity: 1;
      visibility: visible;
    }
    a:hover{
      text-decoration: underline;
    }
    span{
      @include css-animation(all, 0.2s, ease-in-out);
      &.login-links-hidden{
        visibility: hidden;
        opacity: 0;
      }
    }
  }

}
