@import 'shared';

.drzewko-cover{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: url(/assets/images/login_tree.jpg);
  background-size: cover;
  background-position: center;

  &>div{
    $loginBoxWidth: 300px;
    $loginBoxHeight: 183px;

    box-sizing: border-box;
    padding: 10px 15px;
    height:$loginBoxHeight;
    width:$loginBoxWidth;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -($loginBoxHeight/2);
    margin-left: -$loginBoxWidth/2;
    border-radius: 10px;
    background: rgba(255,255,255,0.85);

    paper-input-decorator{
      padding-top: 0;
    }

    $placeholder-color: #525252;
    paper-input-decorator /deep/ ::-webkit-input-placeholder {
       color: $placeholder-color;
     }
    paper-input-decorator /deep/ ::-moz-placeholder {
      color: $placeholder-color;
    }
    paper-input-decorator /deep/ :-ms-input-placeholder {
      color: $placeholder-color;
    }
    paper-input-decorator /deep/ .focused-underline {
      background-color: $light-blue;
    }
    paper-input-decorator[focused] /deep/ .floated-label .label-text{
      color: $light-blue;
    }

    paper-button{
      margin-left: 0px;
    }

    a, a:link, a:visited{
      color: darken($light-blue,5%);
      font-size: 12px;
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}
